{% extends "_layouts/default.njk" %}

{% block body %}

<div class="content">
  <strong>Olá {{ user.name }}</strong>
  <p>Veja abaixo seus agendamentos</p>

  <input type="text" class="flatpickr" placeholder="Escolha uma data" />

  <ul class="providers" id="providers"></ul>
  <a href="/app/dashboard" class="appointment">Voltar</a>
</div>

<script type="text/javascript">
  flatpickr('.flatpickr', {
    minDate: new Date(),
    dateFormat: 'd/m/Y',
    onChange: function(date){
      fetch(`/app/confirmed/{{ user.id }}?date=${date[0].getTime()}`)
      .then(function(response){
        response.text().then(function(html){
          document.getElementById('providers').innerHTML = html
        })
      })
    }
  })
</script>

{% endblock %}
